In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime

In [120]:
crime = pd.read_csv(r'C:\Users\ZBOOK\Downloads\crimes.csv', parse_dates=["Date Rptd","DATE OCC"],dtype={"TIME OCC": str})

In [121]:
crime.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,221412410,2022-06-15,2020-11-12,1700,Pacific,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,NaN,NaN,Invest Cont,13600 MARINA POINT DR
1,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
2,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST
3,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT
4,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV

In [124]:
crime.dtypes

DR_NO                    int64
Date Rptd       datetime64[ns]
DATE OCC        datetime64[ns]
TIME OCC                object
AREA NAME               object
Crm Cd Desc             object
Vict Age                 int64
Vict Sex                object
Vict Descent            object
Weapon Desc             object
Status Desc             object
LOCATION                object
HOUR                     int32
dtype: object

In [122]:
## QUESTION 1 = Which hour has the highest frequency of crimes?

In [123]:
crime["HOUR"] = crime["TIME OCC"].str[:2].astype(int)

In [126]:
crime.HOUR.value_counts().head(1)

HOUR
12    17065
Name: count, dtype: int64

In [ ]:
## QUESTION 2 = Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)

In [148]:
hours = [22,23,0,1,2,3]

In [149]:
subset = crime[crime["HOUR"].isin(hours)]

In [156]:
subset.groupby("AREA NAME",as_index=False)["HOUR"].count().max()

AREA NAME    Wilshire
HOUR             4091
dtype: object

In [ ]:
## QUESTION 3 = Identify the number of crimes committed against victims by age group (0-17, 18-25, 26-34, 35-44, 45-54, 55-64, 65+)

In [ ]:
bins = [0,17,25,34,44,54,64,np.inf]
labels = ["0-17","18-25","26-34","35-44","45-54","55-64","65+"]

In [ ]:
crime["age_groups"] = pd.cut(crime["Vict Age"], bins = bins, labels = labels)

In [1]:
crime["age_groups"].value_counts()

NameError: name 'crime' is not defined